:root {
	--A-color: #00629b;
	--B-color: #00843d;
	--C-color: #64a70b;
	--D-color: #63666a;
	--E-color: #69b3e7;
	--F-color: #93328e;
	--G-color: #ea7600;
	--H-color: #f1c400;
	--I-color: #8e8c13;
	--J-color: #003c71;
	--K-color: #5d2a2c;
	--L-color: #59315f;
	--M-color: #16172b;
	--N-color: #ac0006;
}

/* login form stylesheet */
/* HTML Path: ../views/login.handlebars */

.login-main-container {
	display: flex;
	flex-direction: column;
	justify-content: normal;
	margin: 1rem;
}

.login-header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.login-header {
	display: flex;
	align-items: center;
	color: #15172b;
	font-size: 1.5rem;
	font-weight: 700;
}

.login-form-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	background-color: var(--A-color);
	border-radius: 1rem;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.login-form-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login-form-input label {
	color: #eee;
	margin-bottom: 0.5rem;
	font-size: 1rem;
	font-weight: 600;
}

.login-form-input input {
	background-color: var(--M-color);
	color: #eee;
	font-size: 1rem;
	font-weight: 600;
	border: none;
	border-bottom: 1px solid var(--H-color);
	margin-left: 1rem;
	padding: 0.5rem;
}

.login-form-input input:focus {
	outline: none;
}

.login-form-input input::placeholder {
	color: var(--D-color);
	font-size: 1rem;
	font-weight: 600;
}

.login-form-input input:focus::placeholder {
	color: var(--D-color);
	font-size: 1rem;
	font-weight: 600;
}

.login-form-input input:invalid {
	border-bottom: 1px solid var(--N-color);
}

.login-form-input input:invalid:focus {
	border-bottom: 1px solid var(--N-color);
}

.login-form-input input:valid {
	border-bottom: 1px solid var(--C-color);
}

.login-form-input input:valid:focus {
	border-bottom: 1px solid var(--C-color);
}

.login-form-input input:valid + label {
	color: var(--C-color);
}

.login-form-submit {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}

.have-not-account {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #eee;
	font-size: 1rem;
	font-weight: 600;
}
